.widget-board {
    position: fixed;
    bottom: 120px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 90;
}

.widget-icon {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(108, 99, 255, 0);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.widget-icon:hover {
    transform: scale(1.1);
    background-color: rgba(108, 99, 255, 0.3);
}

.widget-icon .text {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-right: 5px;
    transform: translate(-10px, -50%);
    font-size: 1rem;
    color: #acacac;
    opacity: 0;
    transition: color 0.3s ease, text-shadow 0.3s ease, opacity 0.3s ease;
    text-align: center;
    white-space: nowrap;
}

.widget-icon:hover .text {
    color: #fff;
    opacity: 1;
}

.widget-icon.active:hover .text {
    opacity: 0;
    transform: translate(-10px, -50%);
}

.widget-icon img {
    width: 40px;
    height: 40px;
}